.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.trans-rotator, nav ul li a i:hover {
  -webkit-animation: rotator 5s infinite;
  animation: rotator 5s infinite; }

@-webkit-keyframes rotator {
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-365deg); }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0); } }
@keyframes rotator {
  0% {
    transform-origin: center center;
    transform: rotate(-365deg); }
  100% {
    transform-origin: center center;
    transform: rotate(0); } }
/* typing -----*/
.trans-typing, section h1 {
  -webkit-animation: typing 4s steps(15, end), caret 1s steps(1) infinite;
  animation: typing 4s steps(15, end), caret 1s steps(1) infinite; }

@keyframes typing {
  from {
    width: 0; } }
@-webkit-keyframes typing {
  from {
    width: 0; } }
/* caret -----*/
.trans-caret {
  -webkit-animation: caret 1s steps(1) infinite;
  animation: caret 1s steps(1) infinite; }

@keyframes caret {
  50% {
    border-color: currentColor; } }
@-webkit-keyframes caret {
  50% {
    border-color: currentColor; } }
/* loading -----*/
.trans-loading, .loadmore-box .loading:after {
  -webkit-animation: loading .9s linear infinite;
  animation: loading .9s linear infinite; }

@keyframes loading {
  0% {
    transform-origin: 100% 100%;
    -webkit-transform: rotate(0deg);
    transform-origin: 100% 100%;
    -webkit-transform: rotate(0deg); }
  100% {
    transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    transform: rotate(360deg);
    -webkit-ransform: rotate(360deg); } }
.grid-wrap {
  width: 98%;
  max-width: 1000px;
  overflow: hidden;
  margin: auto; }

.grid-row {
  padding: 0 5px;
  left: -5px;
  width: 100%;
  position: relative; }

.grid-row .grid-row .grid-1, .grid-row .grid-row .grid-2, .grid-row .grid-row .grid-3, .grid-row .grid-row .grid-4, .grid-row .grid-row .grid-5, .grid-row .grid-row .grid-6, .grid-row .grid-row .grid-7, .grid-row .grid-row .grid-8, .grid-row .grid-row .grid-9, .grid-row .grid-row .grid-10, .grid-row .grid-row .grid-11, .grid-row .grid-row .grid-12 {
  padding: 0 0 0 10px; }

.grid-row .grid-row .grid-1:first-child, .grid-row .grid-row .grid-2:first-child, .grid-row .grid-row .grid-3:first-child, .grid-row .grid-row .grid-4:first-child, .grid-row .grid-row .grid-5:first-child, .grid-row .grid-row .grid-6:first-child, .grid-row .grid-row .grid-7:first-child, .grid-row .grid-row .grid-8:first-child, .grid-row .grid-row .grid-9:first-child, .grid-row .grid-row .grid-10:first-child, .grid-row .grid-row .grid-11:first-child, .grid-row .grid-row .grid-12:first-child {
  padding: 0; }

.grid-row .grid-row {
  left: 0;
  padding: 0; }

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-inline {
  margin: auto -0.25em auto auto;
  display: block;
  float: left;
  vertical-align: top;
  padding-left: 10px; }

.grid-1 {
  width: 8.33333%; }

.grid-2 {
  width: 16.66667%; }

.grid-3 {
  width: 25%; }

.grid-4 {
  width: 33.33333%; }

.grid-5 {
  width: 41.66667%; }

.grid-6 {
  width: 50%; }

.grid-7 {
  width: 58.33333%; }

.grid-8 {
  width: 66.66667%; }

.grid-9 {
  width: 75%; }

.grid-10 {
  width: 83.33333%; }

.grid-11 {
  width: 91.66667%; }

.grid-12 {
  width: 100%; }

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11 {
  position: relative; }

.push-1 {
  left: 8.33333%; }

.push-2 {
  left: 16.66667%; }

.push-3 {
  left: 25%; }

.push-4 {
  left: 33.33333%; }

.push-5 {
  left: 41.66667%; }

.push-6 {
  left: 50%; }

.push-7 {
  left: 58.33333%; }

.push-8 {
  left: 66.66667%; }

.push-9 {
  left: 75%; }

.push-10 {
  left: 83.33333%; }

.push-11 {
  left: 91.66667%; }

@media only screen and (max-width: 399px) {
  .push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11 {
    left: 0; }

  .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
    width: 100%; }

  .grid-row .grid-row .grid-1, .grid-row .grid-row .grid-2, .grid-row .grid-row .grid-3, .grid-row .grid-row .grid-4, .grid-row .grid-row .grid-5, .grid-row .grid-row .grid-6, .grid-row .grid-row .grid-7, .grid-row .grid-row .grid-8, .grid-row .grid-row .grid-9, .grid-row .grid-row .grid-10, .grid-row .grid-row .grid-11, .grid-row .grid-row .grid-12 {
    padding: 0;
    margin-right: 0; } }
/*
HTML Structure
div.grid-wrap (The full container width)
    div.grid-row (The grid items container)
        div.grid-<num> (the grid item)
        div.grid-row (nested grid items container)
            div.grid-<num> (nested grid item)
*/
* {
  box-sizing: border-box; }

html {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 100%; }

a {
  text-decoration: none; }
  a.btn {
    display: block;
    background: #26bff0;
    padding: 20px 35px;
    float: left;
    color: #fff;
    border: 1px solid #000; }
    a.btn:hover {
      border: 1px solid #fff; }

nav {
  background: #ec6451; }
  nav ul li:first-of-type {
    margin-left: -25px; }
  nav ul li a {
    display: block;
    padding: 25px 40px;
    float: left;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
    font-weight: lighter; }
    nav ul li a:hover {
      background: #303030; }

.subnav {
  padding: 6px 0px;
  border-top: 1px solid #434343;
  color: #303030;
  clear: both; }
  .subnav a {
    display: inline-block;
    padding: 0px 6px;
    border-left: 1px solid #303030;
    color: #fff; }
    .subnav a:first-of-type {
      border-left: none; }

section {
  background: #434343;
  padding: 50px 0px;
  color: #fff; }
  section.sidebar {
    padding: 20px;
    background: #f0f0ef;
    color: #303030; }
  section h1 {
    white-space: nowrap;
    overflow: hidden;
    width: 272px;
    text-transform: uppercase;
    font-size: 30px;
    border-right: .05em solid  transparent; }

footer {
  padding: 30px 0px;
  background: #f0f0ef; }
  footer ul li {
    display: block;
    padding: 8px 0px; }
    footer ul li a {
      color: #222;
      text-decoration: none; }
      footer ul li a:hover {
        text-decoration: underline; }

.loadmore-box {
  position: absolute;
  width: 320px;
  top: -9999px;
  margin-left: -150px;
  left: 50%;
  border: solid 2px #BF2E1A;
  background: #fff;
  padding: 40px 20px 30px;
  min-height: 250px; }
  .loadmore-box #loadmore-data {
    opacity: 0; }
    .loadmore-box #loadmore-data span {
      opacity: 0;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      color: grey;
      display: block;
      padding-top: 20px; }
  .loadmore-box .loading {
    position: absolute;
    display: block;
    z-index: 13;
    width: 100px;
    height: 100px;
    border: 5px solid transparent;
    border-radius: 50%;
    background-color: transparent;
    top: 60%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms; }
    .loadmore-box .loading:before {
      position: absolute;
      display: block;
      content: '';
      z-index: 12;
      top: 4px;
      left: 4px;
      width: 82px;
      height: 82px;
      border-radius: 50%;
      background-color: #fff; }
    .loadmore-box .loading:after {
      position: absolute;
      display: block;
      top: 0;
      content: '';
      z-index: 11;
      top: 0px;
      left: 0px;
      width: 45px;
      height: 45px;
      border-radius: 200px 0 0 0;
      background: transparent;
      /* Old browsers */
      background: -moz-linear-gradient(45deg, transparent 0%, #ec6451 50%, #BF2E1A 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, top, left bottom, color-stop(0%, transparent), color-stop(50%, #ec6451), color-stop(100%, #BF2E1A));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(45deg, transparent 0%, #ec6451 50%, #BF2E1A 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(45deg, transparent 0%, #ec6451 50%, #BF2E1A 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(45deg, transparent 0%, #ec6451 50%, #BF2E1A 100%);
      /* IE10+ */
      /*background: linear-gradient(to bottom,  $top 0%,$bottom 50%);  W3C */
      /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );  IE6-9 */
      /*background: linear-gradient(45deg, rgba(0,0,0,0) 0%,#ec6451 50%, #ec6451 100%);*/ }

.opened.loadmore-box {
  top: 10%; }
  .opened.loadmore-box #loadmore-data {
    opacity: 0.99; }
  .opened.loadmore-box #loadmore-data.opened span {
    opacity: 0.99; }
  .opened.loadmore-box #loadmore-data.opened .loading {
    opacity: 0; }

h1, h2, h3, h4, h5 {
  font-weight: lighter; }

h1 {
  font-size: 2.1rem;
  padding: 5px 0px 23px; }

p {
  padding: 20px 0px; }

.close:after {
  content: 'X';
  position: absolute;
  right: 20px;
  top: 20px;
  color: #ec6451;
  font-weight: bold; }

/*# sourceMappingURL=main.css.map */
