@mixin defaultBreak($point) {
    @if $point == a {
        @media (max-width: $maxA) { @content; }
    }
    @else if $point == b {
        @media (max-width: $maxB) { @content; }
    }
    @else if $point == c {
        @media (max-width: $maxC)  { @content; }
    }
    @else if $point == d {
        @media (max-width: $maxD)  { @content; }
    }
}
// div {
//    width:25%;
//     @include defaultBreak(c) { width:100%; }
//  }

// Minor breakpoints
// Min-width
@mixin minWidth($pix) {
  @media (min-width:#{$pix}px){ @content; }
}
// @include minWidth(600) { }

// Max-width
@mixin maxWidth($pix) {
  @media (max-width:#{$pix}px){ @content; }
}
// @include maxWidth(600) { }

// Min to max
@mixin minMax($min,$max) {
  @media (min-width:#{$min}px) and (max-width:#{$max}px){ @content; }
}
// @include minMax(600,800) { }

// Image replacement
@mixin imageRep {
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
}
//@include imageRep;



// Gradient
@mixin linear-gradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
//@include linear-gradient(#fff, #000);



@mixin linear-gradient2($deg, $top, $second, $last){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient($deg,  $top 0%, $second 50%, $last 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, top, left bottom, color-stop(0%,$top), color-stop(50%,$second), color-stop(100%,$last)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient($deg,  $top 0%, $second 50%, $last 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient($deg,  $top 0%, $second 50%, $last 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient($deg,  $top 0%, $second 50%, $last 100%); /* IE10+ */
    
    /*background: linear-gradient(to bottom,  $top 0%,$bottom 50%);  W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );  IE6-9 */
}


//Transition
@mixin transition($transition...) {
    -webkit-transition:$transition;
    -moz-transition:$transition;
    -o-transition:$transition;
    transition:$transition;
}
//single...
//@include transition(all,0.2s,ease-in-out,0.1s);
//or multiple...
//@include transition(bottom 0.2s ease,-in-out, padding 0.3s ease 0.1s);

//Transform
@mixin transform($transform...) {
      -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}
//@include transform(rotate(60deg));
//single or multiple

// Box shadow
// Horizontal, Vertical, Blur, Spread, Color
@mixin boxShadow($h,$v,$b,$s,$c) {
  -webkit-box-shadow: $h $v $b $s $c;
  -moz-box-shadow:    $h $v $b $s $c;
  box-shadow:         $h $v $b $s $c;
}
// @include boxShadow(10px,1em,2rem,1px,#000);

// Before and After
@mixin beforeAfter($w,$h,$t,$l) {
  content: '';
  position: absolute;
  width:$w;
  height:$h;
  top:$t;
  left:$l;
}
//@include beforeAfter(10px,100%,0,0);

// SVG background image with PNG fallback
@mixin svgBg($name, $extension: png, $color: transparent, $position: 0 0, $repeat: no-repeat) {
  background: url(../images/css/#{$name}.#{$extension}) $color $position $repeat;
  background: none, url(../images/css/#{$name}.svg) $color $position $repeat;
}
// $extension, $color, $position, $repeat can all be defined and have defaults if they are not defined
// @include svgBg('image-name', $repeat: repeat);


// Basic clearfix mixin
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


.clearfix {
  &:after {
    content: "";
    display:table;
    clear:both;
  }
}
.trans-rotator{
  -webkit-animation: rotator 5s infinite; 
  animation:         rotator 5s infinite; 
}

@-webkit-keyframes rotator { 
    0% { 
        -webkit-transform-origin: center center; 
        -webkit-transform: rotate(-365deg); 
    } 
    100% { 
        -webkit-transform-origin: center center; 
        -webkit-transform: rotate(0); 
    } 
} 
@keyframes rotator { 
    0% { 
        transform-origin: center center; 
        transform: rotate(-365deg); 
    } 
    100% { 
        transform-origin: center center; 
        transform: rotate(0); 
    } 
}

@mixin animated ($duration: 1s, $fillMode: both, $ease: linear) { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 


/* typing -----*/
.trans-typing{
  -webkit-animation: typing 4s steps(15, end), caret 1s steps(1) infinite; 
  animation:         typing 4s steps(15, end), caret 1s steps(1) infinite; 
}
@keyframes typing{
   from{ width: 0; }   
}
@-webkit-keyframes typing{
   from{ width: 0; }   
}

/* caret -----*/
.trans-caret{
  -webkit-animation: caret 1s steps(1) infinite; 
  animation:         caret 1s steps(1) infinite; 
}
@keyframes caret {
   50% { border-color: currentColor; } 
}
@-webkit-keyframes caret {
   50% { border-color: currentColor; } 
}

/* loading -----*/
.trans-loading{
  -webkit-animation: loading .9s linear infinite; 
  animation:         loading .9s linear infinite; 
}

@keyframes loading {
  0% {
    transform-origin: 100% 100%;
    -webkit-transform: rotate(0deg);
    transform-origin: 100% 100%;
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    transform: rotate(360deg);
    -webkit-ransform: rotate(360deg);
  }
}


