// COLOURS
$cb-jobs:           #ec6451;
$cb-events:         #ebd351;
$cb-notices:        #78c44f;
$cb-brand:          #26bff0;

$cb-light:          #f0f0ef;
$cb-med:            #434343;
$cb-dark:           #303030;


// Custom Colours (components)
$color-link:        $cb-brand !default;
$color-link-hover:  #333 !default;


// FONTS
$default-font:      'Roboto Condensed', sans-serif;


// GRID

$max-width:1000px;
$columns:12;
$w4: 400; // responsive variable for changing grid widths to 100%


// BREAKPOINTS

$retina:            320;
$mobile:            480;
$tablet:            768;
$sm-desktop:        992;

// SOCIAL
$facebook:             #3b5998;
$twitter:              #55acee;
$instagram:            #3f729b;
$google-plus:          #dd4b39;
$linkedin:             #0077b5;