@import './variables';
@import './mixins';
@import './grid';

* {
  box-sizing:border-box;
}


html {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:100%;
}



a {
  text-decoration:none;
  
  
  &.btn {
    display:block;
    background:$cb-brand;
    padding:20px 35px;
    float:left;
    color:#fff;
    border:1px solid #000;
    
    
    &:hover {
      border:1px solid #fff;
    }
  }
  
}


nav {
  background:$cb-jobs;
  ul {
    li {

      
      &:first-of-type {
        margin-left:-25px;
      }
      
      
      
      a {
        display:block;
        padding:25px 40px;
        float:left;
        text-align:center;
        text-decoration:none;
        text-transform:uppercase;
        color:#fff;
        font-size:1.5rem;
        font-weight:lighter;
        
        &:hover {
          background:$cb-dark;
        }
        
        i:hover{
			@extend .trans-rotator;
        }
      }
    }
  }
}


.subnav {
  padding:6px 0px;
  border-top:1px solid $cb-med;
  //background:$cb-light;
  color:$cb-dark;
  clear: both;
  
  a {
    display:inline-block;
    padding:0px 6px;
    border-left:1px solid $cb-dark;
    color:#fff;
    
    &:first-of-type {
      border-left:none;
    }
  }
}

header {
  
}




section {
  background:$cb-med;
  padding:50px 0px;
  color:#fff;
  
  &.sidebar {
    padding:20px;
    background:$cb-light;
    color:$cb-dark;
  }
	 h1{
	   white-space: nowrap;
	   overflow: hidden;
	   width: 272px;
	   text-transform: uppercase;
	   font-size: 30px;
	   border-right: .05em solid  transparent;
	   @extend .trans-typing;
	} 
}


footer {
  padding:30px 0px;
  background:$cb-light;
  
  ul {
    li {
      display:block;
      padding:8px 0px;
      a {
        color:#222;
        text-decoration:none;
        
        &:hover {
          text-decoration:underline;
        }
      }
    }
  }
}


.loadmore-box{
	position:absolute;
	width:320px;
	top:-9999px;
	margin-left:-150px;
	left:50%;
	border:solid 2px #BF2E1A;
	background:#fff;
	padding:40px 20px 30px;
	min-height:250px;


	#loadmore-data{
		opacity:0;

		span{
			opacity:0;
			@include transition(all 1s);
			color:grey;
			display:block;
			padding-top:20px;
		}
	}
	.loading {
	  position: absolute;
	  display: block;
	  z-index: 13;
	  width: 100px;
	  height: 100px;
	  border: 5px solid transparent;
	  border-radius: 50%;
	  background-color: transparent;
	  top:60%;
	  left:50%;
	  margin-top:-50px;
	  margin-left:-50px;
	  @include transition(opacity 500ms);
	  
	  &:before {
		position: absolute;
		display: block;
		content: '';
		z-index: 12;
		top: 4px;
		left: 4px;
		width: 82px;
		height: 82px;
		border-radius: 50%;
		background-color: #fff;
	  }
	  
	  &:after {
		position: absolute;
		display: block;
		top: 0;
		content: '';
		z-index: 11;
		top: 0px;
		left: 0px;
		width: 45px;
		height: 45px;
		border-radius: 200px 0 0 0;
		@include linear-gradient2(45deg, rgba(0,0,0,0),#ec6451, #BF2E1A);
		/*background: linear-gradient(45deg, rgba(0,0,0,0) 0%,#ec6451 50%, #ec6451 100%);*/
		 @extend .trans-loading;
	  }
	}

}
.opened.loadmore-box{
	top:10%;

	#loadmore-data{
		opacity:0.99;	
	}
	#loadmore-data.opened{	
		
		span{
			opacity:0.99;	
		}
		.loading{
			opacity:0;
		}
	}
}

h1, h2, h3, h4, h5 {
  font-weight:lighter;
}

h1 {
  font-size:2.1rem;
  padding:5px 0px 23px;
}

p {
  padding:20px 0px;
}
.close:after{
	content:'X';
	position:absolute;
	right:20px;
	top:20px;
	color:#ec6451;
	font-weight:bold;
}

